<!doctype html>
<html>
    <head>
        <style>
            textarea{
                width: 540px;
                height: 120px;
            }
            h3{
                font-size: 8pt;
                font-style: italic;
            }
            .error {
                color: red;
            }
        </style>
        <title>Blogz</title>
        <nav>
            <a href="/">Index</a>
            <a href="/blog">Blogs</a>
            <a href="/newpost">New Post</a>
            {% if session['username'] %}
            <a href="/logout">Log Out</a>
            {% else %}
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
            {% endif %}
        </nav>
    </head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>